<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="TourneyTime">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Tourney Time</title>

        <link href="bower_components/ionic/lib/css/ionic.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">
        <script src="bower_components/ionic/lib/js/ionic.bundle.js"></script>
        <script src="js/app.js"></script>


    </head>
    <body>

        <ion-nav-bar class="bar-positive">
        </ion-nav-bar>

        <ion-tabs class="tabs-positive">
            <ion-tab icon="ion-home" ui-sref="home">
                <ion-nav-view name="home"></ion-nav-view>
            </ion-tab>
            <ion-tab icon="ion-help" ui-sref="login">
                <ion-nav-view name="login"></ion-nav-view>
            </ion-tab>
            <ion-tab icon="ion-person" ui-sref="profile">
                <ion-nav-view name="profile"></ion-nav-view>
            </ion-tab>
            <ion-tab icon="ion-clipboard" ui-sref="register">
                <ion-nav-view name="register"></ion-nav-view>
            </ion-tab>
        </ion-tabs>



    <script type="text/ng-template" id="home.html">
            <ion-view title="Home">
                <ion-content padding="true">
                    <h2>Tourney Time</h2>

                    <p>Authentication: {{authentication.isAuth}}</p>  
                    <p>
                        <a ng-if="authentication.isAuth" class="button icon icon-right ion-chevron-right" href="#/profile">Profile</a>
                        <a ng-if="!authentication.isAuth" class="button icon icon-right ion-chevron-right" href="#/login">Login</a>
                        <a ng-if="!authentication.isAuth" class="button icon icon-right ion-chevron-right" href="#/register">Register</a>
                    </p>

                    <p>Here's the main route for the app.</p>
                </ion-content>
            </ion-view>
        </script>

    <script type="text/ng-template" id="login.html">
            <ion-view title="login">
                <ion-content padding="true">
                    <h2>Login Page</h2>
                    <h2 class="form-login-heading">Login</h2>
                    <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="loginData.useRefreshTokens"><strong> Use Refresh Tokens</strong>
                        </label>
                    </div>
                    <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
                    <div data-ng-hide="message == ''" class="alert alert-danger">
                        {{message}}
                    </div>
                </ion-content>
            </ion-view>
        </script>

    <script type="text/ng-template" id="register.html">
            <ion-view title="Register">
                <ion-content padding="true">
                    <!--<ul ng-repeat="player in players">
                        <li>{{player.FirstName}} {{player.LastName}}</li>
                    </ul>-->
                    <div id="example-forms" class="ionic-body active-preview">
                        <div class="bar bar-header">
                            <div class="h1 title">Create An Account</div>
                        </div>
                        <div class="content has-header">
                            <div class="list">
                                <label class="item item-input">
                                    <input type="text" placeholder="First Name" ng-model="firstName">
                                </label>
                                <label class="item item-input">
                                    <input type="text" placeholder="Last Name" ng-model="lastName">
                                </label>
                                <label class="item item-input">
                                    <input type="text" placeholder="Username" ng-model="username">
                                </label>
                                <label class="item item-input">
                                    <input type="text" placeholder="Email" ng-model="email">
                                </label>
                                <label class="item item-input">
                                    <input type="text" placeholder="Password" ng-model="password">
                                </label>
                                <label class="item item-input">
                                    <input type="text" placeholder="Confirm Password" ng-model="confirmPassword">
                                </label>
                            </div>
                            <div class="padding withBottomSpace">
                                <button class="button button-block button-positive"
                                        
                                        ng-click="register(firstName, lastName, username, email, password, confirmPassword)">
                                    <!--ng-click="login()">-->
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </script>


    <script type="text/ng-template" id="profile.html">
            <ion-view title="Profile">
                <ion-content padding="true">
                    <h2>Profile</h2>
                    <h3 ng-if="ordersError != undefined">{{ordersError}}</h3>
                    <h3 ng-if="ordersError == undefined">You are logged in!</h3>
                    Welcome {{loggedInUser.firstName}} {{loggedInUser.lastName}} !
                    
                <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="logout()">Logout</button>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div>
                </ion-content>
            </ion-view>
        </script>


    <script src="scripts/angular-local-storage.min.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script src="bower_components/jquery/dist/jquery-2.1.4.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>

        <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>--> 
        <script src="scripts/angular-local-storage.min.js"></script>
    <!--<script src="scripts/loading-bar.min.js"></script>-->

        <!-- Load services -->
        <script src="services/authInterceptorService.js?v=2"></script>
        <script src="services/authService.js?v=2"></script>
        <script src="services/ordersService.js?v=2"></script>
        <script src="services/playerService.js?v=2"></script>
        <script src="services/tokensManagerService.js?v=2"></script>
        <!-- Load controllers -->
        <script src="controllers/profileController.js?v=2"></script>
        <script src="controllers/homeController.js?v=2"></script>
        <script src="controllers/loginController.js?v=2"></script>
        <script src="controllers/refreshController.js?v=2"></script>
        <!--<script src="js/tokensManagerController.js?v=2"></script>
        <script src="js/associateController.js?v=2"></script>-->
        <!-- Load custom filters -->
        <!-- Load custom directives -->
    </body>
</html>
